#map{width: 100%; min-height: 400px; border: 1px #bbbbbb solid;}

#title{font-family: Arial, Helvetica, sans-serif; font-size: 180%}
#title b{font-size: 190%}

ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

.popupframe{
	width: 400px;
	height: 400px;
}

ul#icons li.selected{
	border: 1px #3333AA solid;
}

ul#icons li.dblselected{
	border: 3px #3333AA solid;
}

.label{
	font-family: Arial, Helvetica, sans-serif;
}